/* Layout*/
*{
  box-sizing:border-box;
}

.stripe {
  width: 100%;
  padding: 64px 32px;
  position: relative;
  height: auto;
  min-height: 324px;
  display: block;
  overflow:hidden;

}
.center{
  display: block;
  margin-right: auto;
  margin-left: auto;
  width:50%;

}

#bluebackground {
  background:  #031D4D;
  color: #ffff;
  text-align: center;

}

#graybackground {
  background: #C2C0C0;
  color: black;
  font-size:102%;
  text-align: center;

}

.header {
  font-size: 200%;
  text-align:center;

}
.gallery {
  margin: 5px;
  border: 1px solid #0000;
  float: left;
  width: 300px;

}
.gallery img {
  width: 100%;
  height: auto;

}

.desc {
  padding: 15px;
  text-align: center;
}
